<div class="auth-wrapper">
  <!-- Formulario de Inicio de Sesión -->
  <div class="form-container" *ngIf="showLogin">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="login(emailLogin, passwordLogin)">
      <div class="form-group">
        <label for="email1">Email</label>
        <input id="email1" type="email" [(ngModel)]="emailLogin" name="email" required />
      </div>
      <div class="form-group">
        <label for="password1">Contraseña</label>
        <input id="password1" type="password" [(ngModel)]="passwordLogin" name="password" required />
      </div>
      <button type="submit" class="btn">Iniciar Sesión</button>
    </form>
    <button class="btn toggle-btn" (click)="toggleForm()">¿No tienes cuenta? Regístrate</button>
  </div>

  <!-- Formulario de Registro -->
  <div class="form-container" *ngIf="!showLogin">
    <h2>Registro</h2>
    <form (ngSubmit)="registrar(dniRegistro, nombreRegistro, emailRegistro, passwordRegistro)">
      <div class="form-group">
        <label for="nombre2">Nombre de Usuario</label>
        <input id="nombre2" type="text" [(ngModel)]="nombreRegistro" name="nombre2" required />
      </div>
      <div class="form-group">
        <label for="dni">DNI del usuario</label>
        <input id="dni" type="text" [(ngModel)]="dniRegistro" name="dni" required />
      </div>
      <div class="form-group">
        <label for="email2">Email</label>
        <input id="email2" type="email" [(ngModel)]="emailRegistro" name="email2" required />
      </div>
      <div class="form-group">
        <label for="password2">Contraseña</label>
        <input id="password2" type="password" [(ngModel)]="passwordRegistro" name="password2" required />
      </div>
      <button type="submit" class="btn">Registrarse</button>
    </form>
    <button class="btn toggle-btn" (click)="toggleForm()">¿Ya tienes cuenta? Inicia Sesión</button>
  </div>
</div>

